[build]
  functions = "netlify/functions"
  publish = "."

[build.environment]
  ODDS_API_KEY = "35ea2bfd08888692d90a60bb91273c16"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[functions]
  node_bundler = "esbuild"
